---
layout: page
title: Writing
permalink: /writing/
---

<div class="home">

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
          {% for tag in post.tags %}
          {% if tag == "star" %}
          <span class="star">⭑ </span>
          {% endif %}
          {% endfor %}
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
      </li>
    {% endfor %}
  </ul>
</div>
