---
layout: page
---

<style>
  .post > .post-header { display: none; }
  .post .post .post-header { display: block; }
  .post-meta {
    margin-bottom: -5px;
  }
</style>

<div class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.item.name }}</h1>
    <div class="notice" style="flex-direction: column;">
      {% if page.item.author %}
      <div class="notice-item">
        <span>Author</span>
        <span>{{ page.item.author }}</span>
      </div>
      {% endif %}
      {% if page.item.year %}
      <div class="notice-item">
        <span>Published</span>
        <span>{{ page.item.year }}</span>
      </div>
      {% endif %}
      {% if page.item.rating %}
      <div class="notice-item">
        <span>Rating</span>
        <span>{{ page.item.rating }}/10</span>
      </div>
      {% endif %}
      {% if page.item.isbn %}
      <div class="notice-item">
        <span>ISBN</span>
        <span>{{ page.item.isbn }}</span>
      </div>
      {% endif %}
      {% if page.item.currently or page.item.date %}
      <div class="notice-item">
        <span>Status</span>
        {% if page.item.currently and page.item.type == "Book" %}
        <span>Currently reading!</span>
        {% endif %}
        {% if page.item.currently and page.item.type == "Game" %}
        <span>Currently playing!</span>
        {% endif %}
        {% if page.item.currently == null %}
        <span>Finished on {{ page.item.date }}</span>
        {% endif %}
      </div>
      {% endif %}
    </div>
  </header>

  <div class="content-image">
    <img src="{{ page.item.image[0].url }}" />
  </div>

  <div class="content-summary">
      {{ page.item.summary | markdownify }}
    </div>

    {% if page.item.notebook %}
    <div class="content-highlights">
      <strong>Highlights</strong>

      {% for item in site.data.notebook %}
      {% if item.source.name == page.item.name %}
        <div class="notebook-item">
        <div class="notebook-item__text">
            {{item.text | markdownify }}
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    {% endif %}
</div>
