---
layout: page
---

<style>
  .post > .post-header { display: none; }
  .post .post .post-header { display: block; }
  .post-meta {
    margin-bottom: -5px;
  }
</style>

<div class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.item.name }}</h1>
    <p class="post-meta">{{ page.item.author }}</p>
    <p class="post-meta">Published in {{ page.item.year }}</p>
    <p class="post-meta">Finished {{ page.item.date }}</p>
    <p class="post-meta">Rating: {{ page.item.rating }}/10</p>
  </header>

  <div class="content-image">
    <img src="{{ page.item.image[0].url }}" />
  </div>

    <div class="content-summary">
      {{ page.item.summary | markdownify }}
    </div>

    {% if page.item.notebook %}
    <div class="content-highlights">
      <strong>Highlights</strong>

      {% for item in site.data.notebook %}
      {% if item.source.name == page.item.name %}
        <div class="notebook-item">
        <div class="notebook-item__text">
            {{item.text | markdownify }}
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    {% endif %}
</div>
